body {
  background-color: gainsboro;
}
.card {
  padding: 2em 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.randomSelect {
  background-color: dodgerblue !important;
}
.randomSelect > div > p {
  color: gainsboro !important;
}

/* modal box */
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    background-color: whitesmoke;
    border-radius: 0.2em;
    padding: 2em;
}
.MuiBox-root.css-h5hfv8:focus {
  outline: none;
}

.container-primary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2em;
}
.card-btn {
  margin: 1em !important;
}

.container-secondary {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-height: 17em;
}
.result-turn {
  text-align: center;
  padding: 1.5em;
}
.secondary-cards {
  text-align: center;
}

@media all and (max-width: 1080px) {
  .App {
    margin-top: 4em;
  }
  .container-secondary{
    margin-top: 4em;
  }
  .modal {
    width: 50vh;
  }
}

@media all and (max-width: 580px) {
  .card {
    padding: 1em 1em;
  }
  .result-turn {
    padding: 0.5em;
    font-size: 2rem !important;
    display: flex;
    align-items: center;
  }
  .card-btn {
    margin: 0em !important;
  }
  .App {
    margin-top: 4em;
  }
  .container-secondary{
    margin-top: 4em;
  }
  .modal {
    width: 40vh;
  }
}
