body{
    background-color: gainsboro;
}

.CardContainer-Primary{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.CardContainer-Secondary{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.randomSelect {
    background-color: blue !important;
}